h2{
    font-family: 'Montserrat Alternates', sans-serif;
}
h3{
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background: #F1F4FB !important;
}
.col-auto.col-md-3.col-xl-2.px-sm-2.px-0.bg-dark {
    background: #F1F4FB !important;
}
a.d-flex.align-items-center.pb-3.mb-md-0.me-md-auto.text-white.text-decoration-none {
    color: #9fb4cf !important;
    font-family: Dancing Script,cursive;
    display: flex !important;
    align-items: baseline !important;
    margin: 15px 20px;
}
a.d-flex.align-items-center.pb-3.mb-md-0.me-md-auto.text-white.text-decoration-none img{
    margin-right: 10px;
}
span.fs-5.d-none.d-sm-inline {
    font-size: 38px !important;
    font-weight: 700;
}
.nav-link {
    color: #96B0C4 !important;
    font-family: 'Montserrat Alternates', sans-serif;
}
.nav.nav-pills {
    width: 100%;
    margin-top: 40px;
}
.nav.nav-pills li {
    padding: 5px;
}
.nav.nav-pills li {
    width: 100%;
}
.nav.nav-pills li a{
     width: 100%;
}
.nav.nav-pills li a {
    width: 100%;
    display: block;
    padding: 14px !important;
    transition: all 300ms ease-in-out;
}
.nav.nav-pills li a:hover {
    background-color: #3B36DB;
    transition: all 300ms ease-in-out;
    color:#fff !important;
}

.nav.nav-pills li a .fa {
    font-size: 20px !important;
    margin-right: 10px;
}
.nav.nav-pills li a i.fa.fa-chevron-down {
    position: relative;
    right: -110px;
    font-size: 13px !important;
}
ul#menu {
    overflow-y: scroll !important;
    height: 700px;
    overflow-x: hidden !important;
}
ul#menu::-webkit-scrollbar{
    width: 0px !important;
}
.col.py-3 {
    margin: 20px 25px;
    background: #fff;
    border-radius: 30px;
    height: 95vh;
    overflow-y: scroll;
}
.flex-nowrap{
    display: contents !important;
}
.mypages{
    display: flex !important;
}
.myheaderbar h2{
        font-size: 26px;
        font-weight: 700;
        color:#000;
}
.myheaderbar h3{
    font-size: 20px;
    font-weight: 500;
    color:#799FBD;
    padding-top: 8px;
}
.clock{
    padding: 20px 25px !important;
}
.search{
    padding: 20px 25px !important;
    display: flex;
    align-items: center;
}

form {
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow:0 1px 3px rgb(0 0 0 / 8%), 0 1px 2px rgb(0 0 0 / 8%);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  
  form > .textbox {
    outline: 0;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  
  form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
  }
  
  form > .button {
    outline: 0;
    background: none;
    background-color: transparent;
    float: right;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #000;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
  
  form > .button:hover {
    background-color: rgb(0 150 136 / 0%);
  }
form{
    width: 100%;
    padding: 7px;
    border-radius: 13px;
    border: 1px solid #efefef;
}
img.rounded-circle {
    width: 30% !important;
    height: auto;
}
.dropdown .d-flex {
    display: flex !important;
    justify-content: center;
}
input.textbox {
    width: 85%;
}
.col-sm-3.overviews {
    border: 1px solid #efefef;
    padding: 35px 25px;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 14px;
    transition: all 300ms ease-in-out;
    margin: 10px !important;
    width: 22% !important;
    margin-bottom: 60px !important;
}
.overviews h3{
    font-size: 15px;
}
.overviews p{
    font-size: 12px;
    color:#929292;
}
.marg{
    margin: 25px 20px !important;
}
.overviews:hover{
    background-color: #9FB4CF;
}
.overviews:hover h2{
    color: #fff;
}
.overviews:hover h3{
    color: #fff;
}
.overviews:hover p{
    color: #fff;
}
/* preloader */

/* preloader */
.preloader img{
    width: 5%;
    height: 10%;
}
.row.preloader {
    background: #000;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 9999999;
    display: flex;
    align-items: center;
}
.row.preloader div{
    color: #eee !important;
    font-family: 'Dancing Script', cursive;
    font-size: 58px !important;
    font-weight: 800;
    background: -webkit-linear-gradient(60deg, #9fb4cf, #eee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}
.row.preloader .Typewriter {
    width: 100%;
    margin-left: 15px;
    text-transform: capitalize;
}
.Typewriter {
    text-align: center;
}
.imagepre.col-sm-12 {
    text-align: center;
    align-items: center;
}

/* home content */

.leftpadding{
    padding-left: 20px;
    padding-top: 10px;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    width: 100%;
    border: unset;
}
.nav-tabs{
    border: unset !important;
}
.tabss li .nav-link{
    border: 2px solid transparent !important;
    background: #F1F4FB !important;
    color: #000 !important;
    transition: all 300ms ease-in-out;
    margin: 0 10px !important;
}
.tabss li{
    margin: 0 10px !important;
}
.tabss .nav-link.active {
    border: 2px solid #3B36DB !important;
    background: #3B36DB !important;
    color: #fff !important;
    transition: all 300ms ease-in-out;
}
.tabss{
    padding: 30px 20px !important;
}
.table > thead {
    vertical-align: middle !important; 
    height: 45px;
    border: 1px solid #efefef;
}
th {
    padding-left: 1rem !important;
}
td{
    --bs-table-accent-bg:#fff !important;
    padding-left: 1rem !important;
    padding-top:  1rem !important;
    padding-bottom:  1rem !important;
    border: unset !important;
}
.table-bordered > :not(caption) > * {
    border-width: 0 !important;
    border: 1px solid #efefef !important;
}
.table-bordered > :not(caption) > * > * {
    border-width: 0 0px !important;
}
.tab-pane {
    margin: 20px;
    background: #F1F4FB;
    border-radius: 30px;
    padding: 30px;
    height: 65vh;
    overflow-y: scroll;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.addbtn {
    padding: 12px 35px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 25px;
    transition: all 300ms ease-in-out;
    text-decoration: unset;
    color: #000;
}
.addbtn:hover {
    color: #FFF;
    background: #3B36DB;
    transition: all 300ms ease-in-out;
}
.mybuton {
    margin-top: 40px;
    text-align: end;
}
img.d-block.w-100 {
    width: 50px !important;
}
td {
    width: 50px;
}
p.mytext {
    height: 45px;
    overflow-y: scroll;
    margin: 0;
    margin-right: 60px;
}
p.mytext::-webkit-scrollbar {
    width: 0px !important; 
}

tr {
    vertical-align: middle;
}
button.transparent {
    background: transparent;
    border: unset;
    font-weight: 600;
    color: #3B36DB;
    text-decoration: underline;
}

.tabss form {
    padding: 7px;
    border-radius: 13px;
    border: unset !important;
    margin: auto !important;
    width: 60%;
    float: none;
    box-shadow: unset;
    background: #F1F4FB;
    padding: 30px 20px;
}
.tabss form input{
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 15px;
    border-color: #efefef;
}
.tabss form textarea{
    margin-bottom: 15px;
    border-radius: 15px;
    border-color: #efefef;
    height: 200px;
}
.tabss input#file{
    background-color: transparent !important;
    border: unset !important;
}
form button {
    border: 1px solid #efefef;
    background: #fff;
    padding: 13px 30px;
    border-radius: 30px;
    color: #000;
    transition: all 200ms ease-in-out;
}
form button:hover {
    border: 1px solid #efefef;
    background: #3B36DB;
    padding: 13px 30px;
    border-radius: 30px;
    color: #fff;
    transition: all 200ms ease-in-out;
}
.tabss form {
    margin-top: 70px !important;
}
.col.py-3::-webkit-scrollbar {
    width: 0px !important; 
}
.tab-pane::-webkit-scrollbar {
    width: 0px !important; 
}
.tab-panea {
    margin: 20px;
    background: #F1F4FB;
    border-radius: 30px;
    padding: 30px;
    height: 75vh;
    overflow-y: scroll;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tab-panea::-webkit-scrollbar {
    width: 0px !important; 
}
.article{
    margin-bottom: 40px;
}